body {
    margin: 0;
}

div {
    height: 100px;
}

.heading-box{
    background-color: dodgerBlue;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    
}

a.selected {
    font-weight: bold;
}

h1 {
    padding-right: 2rem;
    color: white;
}

h2 {
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex: 1;
    color: white;
}